body {
	background-color: black; /* General background colour of the webpage */
}
h1{
	color: rgb(223, 190, 7); /* Headings to be different from the body of the webpage to stand out */
	background-color: dimgray;
	text-align-last: center;
}
h2{
	color: rgb(223, 190, 7);
	background-color:dimgray;
	text-align-last: center;
}
h3{
	color: rgb(223, 190, 7);
	background-color: dimgray;
	text-align-last: center;
}
p{
	color: white; /* Body to be uniformed and easily read against the coloured background */
	text-align-last: center;
}
figcaption{
	color: white;
}
